{% extends "layout.html" %}


{% set bodyId = "page-ideias" %}

{% block title %}
    <title>Ideias - Casa Criativa</title>
{% endblock %}

{% block content %}
<header>
    <a href="/">
        <img src="logo.png" alt="casa criativa">
    </a>
    <nav>
        <li><a href="/">Inicio</a></li>
        <li><a href="#" onclick="onOff()" class="button">Nova Ideia</a></li>
    </nav>
</header>
<section id="title">
    <p>em exibição</p>
    <h1>Idéias</h1>
</section>
<main>
    <section id="ideas">
        {% for idea in ideas %}
            {% include "all_ideas.html" %}
        {% endfor %}    
    </section>
</main>
<footer>
    <strong> Com ❤️ RAguilar</strong>
</footer>
{% endblock %}