/*Tudo são box/caixas*/

body {
    background: rgb(255, 236, 240);
    /*text-align: center;*/
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body.hideScroll{
    overflow: hidden;
}

a {
    color: #ff3b69;
    font-weight:  bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

p, .description{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;

.button:hover{
    text-decoration: underline;
}

.button{
    text-decoration: none;
    width: 150px;
    height: 40px;
    /*Faz o botão ficar com formato cortado*/
    border-radius: 15px 0; 
    /* O A do rgb vai definir a intensidade da sombra*/
    box-shadow: 0px 6px 10px rgba(255, 0, 92, 0.30);

}


}
#container{
    width: 90%;
    max-width: 980px;
    margin: 40px auto;
    display: flex;
}

/*Section intro*/

#intro{
    width: 300px;
    margin: 0 50px;
}

main{
    margin: 32px 0;
}


.fat{
    color: #FFF;
    background: #ff5e84;
}

.fat a{
    color: #FFF;
    background: #ff5e84;
}

button{
    border: none;
    background: none;
    font-weight: bold;
    cursor: pointer;
    /*para remover a borda quando clica no botão*/
    outline: none;
    
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #ff3b69;
}

.button{
    text-decoration: none;
    color: #FFF;
    width: 150px;
    height: 40px;
    background-color: #ff3b69;
    /*Faz o botão ficar com formato cortado*/
    border-radius: 15px 0; 
    /* O A do rgb vai definir a intensidade da sombra*/
    box-shadow: 0px 6px 10px rgba(255, 0, 92, 0.30);

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;
}

.button:hover{
    text-decoration: underline;
    background-color: rgb(2, 2, 2);
}

#buttons{
    display: flex;
    /*Só é utilizado quando tem flex e grid*/
    justify-content: space-evenly;
    margin: 20px 0;
}

footer{
    text-align: center;
    margin: 20px 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;

    color: #777;
    opacity: 0.7;
}

/*Section last-ideias*/

#last-ideias{
    margin-top: 5%;
}

.idea{
    
    display: flex;
    background-color: #FFF;
    padding: 10px;
    border-radius: 8px;
    /*O -8 serve para jogar a sombra pra dentro*/
    box-shadow: 5px 5px 15px -6px #fd90a9;
    margin-bottom: 32px;

    
}

.idea img{
    width: 60px;
    height: 60px;
    margin-right: 32px;
}

.idea h3{
    margin: 0;
}

.idea p {
    margin: 8px 0;
    color: rgb(70, 70, 70);
    font-weight: bold;

    
}

.idea .description{
    margin: 5px 10px;
}

/* modal */

#modal{
    background: #ff3b69;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 130%;
    
    /*Com o position absolute, posso usar o vw para se adaptar as telas
    width: 100vw;
    height: 190vw;
    */
    /* Usa o flex para habilitar o align-itens e o justify-content*/
    display: flex;
    /* O align-items alinha o eixo y*/
    /* O justify-content alinha o eixo x*/
    justify-content: center;

    transition: 400ms;
   
}

#modal.addScroll{
    overflow: auto;
}

#modal .content{
        
        color: white;
}

#modal .content h1{
    text-align: center;
    text-transform: uppercase;
}

#modal form{
    width: 100%;
    max-width: 800;

    margin: 0 auto 20%;

    /*Colocando em fr divide por igual*/
    display: grid;
    grid-template-columns: 1fr 1fr;
/*para espaçar o grid*/
    gap: 10px;
}

/*para dividir em colunas de acordo com cada div*/
.content form div:nth-child(3),
.content form div:nth-child(4),
.content form div:nth-child(5){
    grid-column: span 2;
}

form input, 
form textarea{
    width: 100%;
    padding: 5px;
/*para não ultrapassar a borda, sem essa função vai somar width + padding*/
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid #b80932;

    outline: none;

    font-size: 16px;
}

form label{
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.8px;
}

form a{

    width: 150px;
    height: 40px;

    background-color: #ffffff22;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;

    border-radius: 6px;
    align-self: end;

    transition: 400ms;
    
}

form a:hover{
    background: #FFF;
    color: #ff3b69;

    text-decoration: none;
}

form button{
    background: white;
    width: 150px;
    height: 40px;

    border-radius: 6px;

    cursor: pointer;

    margin-top: 32px;

    grid-column: 2;
    justify-self: end;

    transition: 400ms;
}

form button:hover{
    background-color: rgb(2, 2, 2);
    color: white;

    text-decoration: none;
}

#modal.hide{
    /*para o transition do modal funcionar precisa mudar de display para opacity*/
    opacity: 0;
    visibility: hidden;
}

/*Idea.html*/

#page-ideias #container{
    display: block;
}

#page-ideias header{
    display: flex;
    justify-content: space-between;
}

#page-ideias nav{
    display: flex;
    align-items: center;
}

#page-ideias nav li{
    list-style-type: none;
    margin-right: 16px;
    
}

#page-ideias nav li a{
    color: black;
}

#page-ideias nav li a.button{
    color:white;
}

#page-ideias nav li:last-child{
    margin:0;  
}




#page-ideias section#title{
    text-align: center;
    
}

#page-ideias section#title p{
    opacity: 0.7;
    margin: 0;
}

#page-ideias section#title h1{
    margin: 0;
    font-size: 28px;
}

section#ideias{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section#ideias .idea{
    margin:0
}

section#title,
section#ideias,
footer  {
    margin-top: 64px;
}